*{
    padding: 0;
    margin: 0;
    font-size: 20px;
}
.one{
    background-color: rgb(177, 67, 67);
    padding: 10px;
    height: 100px;
    width: 100px;
    border: 10px solid green;
    margin: 10px;
}
.two{
    background-color: rgb(177, 67, 67);
    padding: 10px;
    height: 100px;
    width: 100px;
    border: 10px solid green;
    margin: 70px;
}