.container{
    display: flex;
    border: 10px solid black;
    height: 90vh;
    flex-wrap: wrap;
    align-content: flex-start;
    column-gap: 1em;
    row-gap: 1em;
    

}
.box{
    width: 100px;
    height: 100px;
    font-size: 4em;
    text-align: center;
    border-radius: 15px;
}
#box1{
    background-color: brown;
}
#box2{
    background-color: yellow;
}
#box3{
    background-color: green;
}
#box4{
    background-color: blue;
}